<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
    <!-- Database connection settings -->
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.url">jdbc:postgresql://localhost/togetherLess</property>
    <property name="connection.username">develop</property>
    <property name="connection.password">develop</property>

    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">1</property>

    <!-- SQL dialect -->
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>

    <!-- Disable the second-level cache -->
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>
    
    <!-- create der Mysql struktur... achtung bei Änderung wird bestehendes überschrieben -->
    <!-- <property name="hbm2ddl.auto">none</property> -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
    <property name="hbm2ddl.auto">validate</property>
    <!-- <property name="hbm2ddl.auto">create</property> -->
    <!-- <property name="hbm2ddl.auto">create-drop</property> -->
    <!-- <property name="hbm2ddl.auto">create-drop</property> -->
    
    <mapping class="ch.boxi.togetherLess.dataAccess.user.dto.User"/>
    <mapping class="ch.boxi.togetherLess.dataAccess.user.dto.UserState"/>
    <mapping class="ch.boxi.togetherLess.dataAccess.user.dto.ActivationCode"/>
    <mapping class="ch.boxi.togetherLess.dataAccess.user.dto.Login"/>
    <mapping class="ch.boxi.togetherLess.dataAccess.user.dto.UserLogin"/>
    <mapping class="ch.boxi.togetherLess.dataAccess.user.dto.CookieLogin"/>
    <mapping class="ch.boxi.togetherLess.dataAccess.weightMeasurement.dto.Measurement"/>
    
</session-factory>
</hibernate-configuration>