.errorInput{
	border-color:	#FF0000; 
	border-style:	solid; 
	border-width:	1px;
	color:			#FF0000;
}

.errmsg{
	border-color:	#BB0000; 
	border-style:	solid; 
	border-width:	1px;
	color:			#BB0000;
	background-color: rgba(187,0,0,0.2);
}
